:global(#app) {
  @import '../../assets/theme/theme';
  .wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .appBarHasBg {
    background: rgba(0, 0, 0, 0.5);
  }
  .appBarHasNoBg {
    background: rgba($appBarBgColor, 1.0);
  }

  .divContainer {
    flex-grow: 1;
    margin-top: 50px;
  }

  .buttonDrawer {
    background: transparent;
    &:hover {
      background: rgba(0, 0, 0, 0.08);
    }
  }

  .noSignalDiv {
    background: #eb5a46;
    border-radius: 4px;
    bottom: 20px;
    box-shadow: #b04632 0 1px 0;
    padding: 12px 18px;
    position: fixed;
    right: 20px;
    width: 390px;
    z-index: 10001;
  }

  .noSignalContent {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
  }

  .noSignalHeader {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 8px;
  }
}
